/* Color */
/* -------------------------------------- */
:root {
	--blue: #1892d3;
	--yellow: #f1b329;
	--grey: #e2e8f0;
	--grey-1: #fafaf9;
	--grey-text: #78716c;
	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Layout of Pages */
/* -------------------------------------- */
html,
body {
	box-sizing: border-box;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: black;
}

/*
  From Wesbos CSS Grid Course
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

main {
	flex: 1 0 auto;
}

em,
i,
dfn {
	font-style: italic;
}
.wrapper {
	display: grid;
	grid-template-areas:
		/* 'sidebar header header header'
		'sidebar projects projects announcements'
		'sidebar projects projects announcements'
		'sidebar projects projects trending'
		'sidebar projects projects trending'; */
		'sidebar header header'
		'sidebar content content'
		'sidebar content content';
	height: 100vh;
}

/* Header */
/* -------------------------------------- */
header {
	/* Page Layout */
	grid-area: header;

	display: grid;
	gap: 1rem;

	margin-left: 1.2rem;
	margin-right: 1.5rem;
}

.row-1,
.row-2 {
	display: grid;
	grid-template-columns: 1fr max-content;
}

.search-bar-container,
.user-account-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.user-info-container,
.user-actions-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* Sidebar */
/* -------------------------------------- */
.sidebar {
	/* Page Layout */
	grid-area: sidebar;

	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 2rem;
	padding-top: 1rem;
	padding-left: 1rem;

	background-color: var(--blue);
	color: white;
}

.menu-1 ul,
.menu-2 ul {
	display: grid;
	gap: 1rem;
}

.menu-list-item-container,
.logo-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* Articles Wrapper */
/* -------------------------------------- */
/* This is needed to make everything inside main grid items */
main {
	/* display: contents; */
	grid-area: content;
	/* background-color: var(--grey); */
	display: grid;
	grid-template-areas:
		'projects announcements'
		'projects trending';
	gap: 1rem;
}

/* Article - Your Projects */
/* -------------------------------------- */
.projects {
	grid-area: projects;
}

.projects > section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}

.project-card {
	display: grid;
	justify-items: flex-end;
	gap: 1rem;

	border-left: 10px solid var(--yellow);
}

.project-sharing {
	display: flex;
	gap: 1rem;
}

.project-info p:first-child {
	font-size: 1.2rem;
	margin-bottom: 0.25em;
	font-weight: 700;
}

.project-info p:last-child {
	color: var(--grey-text);
	font-size: small;
}

/* Article - Announcements */
/* -------------------------------------- */
.announcements {
	grid-area: announcements;
}

.announcements div p:first-child {
	font-size: 0.9rem;
	margin-bottom: 0.25em;
	font-weight: 700;
}

.announcements div p:last-child {
	color: var(--grey-text);
	font-size: 0.8rem;
}

/* Article - Trending */
/* -------------------------------------- */
.trending {
	grid-area: trending;
}

.trending > section {
	display: grid;
	gap: 1rem;
}

.trending-container > div {
	display: grid;
	grid-template-columns: min-content auto;
}

.card {
	background-color: var(--gray-1);
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
}
